.row {
    display: flex;
}

.column1 {
    flex: 25%;
}

.column3 {
    flex: 25%;
    text-align: right;
}

.board{
    border: 10px solid gray;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.tile{
    background-size: contain;
    float: left;
    height: 100px;
    width: 100px;
}

.black{
    background-color: #4B9B99;
}
.white{
    background-color: #eee;
}
.br{
  background-image: url("./images/chesspieces/br.svg");
}
.bn{
  background-image: url("./images/chesspieces/bn.svg");
}
.bb{
  background-image: url("./images/chesspieces/bb.svg");
}
.bq{
  background-image: url("./images/chesspieces/bq.svg");
}
.bk{
  background-image: url("./images/chesspieces/bk.svg");
}
.bp{
  background-image: url("./images/chesspieces/bp.svg");
}
.wr{
  background-image: url("./images/chesspieces/wr.svg");
}
.wn{
  background-image: url("./images/chesspieces/wn.svg");
}
.wb{
  background-image: url("./images/chesspieces/wb.svg");
}
.wq{
  background-image: url("./images/chesspieces/wq.svg");
}
.wk{
  background-image: url("./images/chesspieces/wk.svg");
}
.wp{
  background-image: url("./images/chesspieces/wp.svg");
}
