<h1><b>pwschess</b></h1>
{{fen}}
<div class="board">
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>

    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>

    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>

    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>

    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>

    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>

    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>

    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>
    <div class="tile black"></div>
    <div class="tile white"></div>





</div>
{{outlet}}
